body {
  background-color: black;
  text-align: center;
  margin: 0;
  height: 100vh;
}
.container{
  align-items: center;
  display: block;
}
.logo img {
  display: block;
  margin: 5% auto 0;
}
.start img{
  width: 30%;
  height: 30%;
  display: block;
  margin: 0 auto 0 37%;

}

#section1{
  color:black;
}

#section2 img{
  object-fit: contain;
  width: 100%;
  height: 100%;
}

#section3{
  color:black;
}

#start{
  margin-top: 10%;
}

#section4{
  width: 30%;
  height: 50%;
}

#section4 img{
  object-fit: contain;
  width: 100%;
  height: 100%;
}

#section5{
  width: 38%;
  height: 50%;
  border: 2px solid transparent; /* Borde transparente */
  border-image: linear-gradient(90deg, transparent, #f00, transparent); /* Imagen de borde con degradado rojo */
  border-image-slice: 1; /* Cortar la imagen de borde en una sola tira */

}



#section5 img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center center;
}

#section6{
  width: 30%;
  height: 50%;
  object-fit: contain;
}

#section6 img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center center;
}

#section8 img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center center;
}

#section7 button{
  background-color: #f00; /* Color de fondo rojo */
  color: #fff; /* Color del texto blanco */
  font-size: 24px;
  border: none;
  padding: 2% 30px;
  border-radius: 50px; /* Mayor valor de bordes redondeados */
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: background-color 0.4s, box-shadow 0.4s
}

#section7 button::before{
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, #f00, transparent); /* Efecto de luz de neón rojo */
  transform: skewX(45deg) translateX(0);
  transition: transform 1s;
}

#section7 button:hover::before{
  transform: skewX(45deg) translateX(200%); /* Anima el efecto de luz de neón al pasar el mouse */
}


#section7 button:hover{
  background-color: #d90000; /* Cambia el color de fondo en el hover */
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.9); /* Cambia la intensidad de la sombra en el hover */
}



/* Matriz y las celdas. Que ocupen toda la pantalla */
.matrix {
  display: flex;
  flex-wrap: wrap;
  max-width: 100vw;
  height: 100vh;
}

.cell {
  width: 33.33%;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  text-align: justify;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 1.2em;
}

.cell img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.with-border{
  border-style: solid double;
  border-color: white;
  border-width: 2px;
  width: 150px;
  height: 150px;
}

#creditos{
  color:white;
  font-family: 'ArcadeClassic';
}

footer {
  background-color:#5a5a5a;
  margin-top: auto;
}
